<form style="text-align: center; margin: 50px;">
    <div style="align-items: center;">
        <h1>SIGN UP</h1>
    </div>
    <div>
        <input type="email" id="email" placeholder="Enter Email">
    </div>
    <div>
        <input type="text" id="username" placeholder="Enter Username">
    </div>
    <div>
        <input type="tel" id="mobilenumber" placeholder="Enter Mobile Number">
    </div>
    <div>
        <input type="text" id="password" placeholder="Enter Password">
    </div>
    <div>
        <input type="text" id="confirmpassword" placeholder="Confirm Password">
    </div>
    <button id="submitButton" style="margin: 10px;">SIGN UP</button>
    <div>
        <span>Already a Member? </span>
        <a routerLink="log">Click here</a>
    </div>
</form>